body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}
nav{
    display: flex;
    height: 2rem;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
}
nav ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
main{
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    /* align-content: center; */
    justify-content: center;
}
.tall {
    object-fit: cover;
}
.ratio{
    object-fit: contain;
}
.fullNav{
    width: 100%;
    height: fit-content;
    background-color: #5c9402;
}
a:hover{
    color: blue;
}