body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

nav{
    display: flex;
    height: 2rem;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav ul{
    list-style: none;
}

img{
    max-width: 100%;
    max-height: 80vh;
    height: fit-content;
    width: fit-content;
}

main{
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    /* align-content: center; */
    justify-content: center;
}