body{
    margin: 0;
    background-color: black;
}
.container{
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}
.image-grid{
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 2rem;
}
.image-grid img{
    display: block;
    width: 100%;

    object-fit: cover;

}
.image-grid figure {
    position: relative;
}

.image-grid figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

nav{
    display: flex;
    height: 2rem;
    /* align-content: center; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
}

nav a{
    margin-left: 2rem;
    margin-right: 2rem;
    color: #0000BD;
}

nav ul{
    list-style: none;
}
.fullNav{
    width: 100%;
    height: fit-content;
    background-color: #5c9402;
}
a:hover>figure{
    transform: scale(1.25);
}
#om {
    color: #6BAC02;
    text-align: justify;
}
p {
    line-height: 0.3rem;
}
.comand {
    border: 1px solid #1310d3;
    background-color: rgb(29, 29, 29);
    padding: 0 4px;
    border-radius: 10px;
}